@media (max-width: 1024px) {
    /* about secton */
}
@media (max-width: 991px) {
    /* custom classes */
    .text-content {
        width: 100%;
    }

    /* navbar brand */
    .navigation-warp .navbar-brand img {
        height: 3.8125rem;
    }
    .navigation-warp {
        text-align: center;
        background-color: var(--white);
    }
    .navigation-warp .nav-link {
        line-height: 1.875rem;
    }
    /* banner degin */
    .top-banner {
        padding: 9.375rem 0 9.375rem;
    }
    /* carousuel */
    .testimonial-section .carousel-item .carousel-caption p {
        padding: 0;
    }
}

@media (max-width: 767px) {
    h1 {
        font: size 2.8rem;
    }
    h2 {
        font-size: 2rem;
        line-height: 2.0625rem;
    }
    /* top-banner */
    .top-banner {
        padding: 10.875rem 0 9.375rem;
    }
    /* story */
    .story-section {
        height: auto;
        padding: 3rem 0;
    }
    /* carousuel */
    .testimonial-section .carousel-item {
        padding: 11rem 3.125rem;

        /* newsletter */
    }
    .newsletter {
        width: 75%;
    }
    .newsletter .main-btn {
        width: 100%;
        margin-top: 1rem;
    }
    /* footer */
    .footer .footer-link,
    .footer a i {
        padding: 0 0.7rem;
    }
    .headerLogo {
        font-size: 24px !important;
    }
}
@media (max-width: 368px) {
    .testimonial-section .carousel-item {
        padding: 11rem 3.125rem;
    }
    .headerLogo {
        font-size: 18px !important;
    }
}

